.App {
  text-align: center;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically if needed */
  height: 100vh; /* Full height if you want to center vertically */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically if needed */
  height: 100vh; /* Full height if you want to center vertically */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F3F4F6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #374151;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Chart {
  padding: 10px;
  color:  #F97316;
  background-color: #F3F4F6;
  border: 1px solid #374151;
  border-radius: 8px; /* Rounded corners */
}

.Chart-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  gap: 20px; /* Space between columns */
  justify-items: center; /* Centers charts horizontally in each column */
  align-items: center; /* Centers charts vertically */
  margin: 0 auto; /* Centers the entire grid on the page */
  width: 100%; /* Adjust the width as needed */
}


.service{
color: #1E3A8A
}

p {
  color: #1E3A8A
}

nav {
  background-color: #F3F4F6;
  padding: .01em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1em;
}

nav li {
  display: inline;
}

nav a {
  color: #1E3A8A;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  color: #374151
}

.Line {
background-color: #F97316;
border: none;
height: 2px;
box-shadow: none;
}

.spacing {
  margin: 5px;
}